@model Assignment1.Models.FeedbackPost

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FeedbackPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" asp-for="Agree" />
            <input type="hidden" asp-for="Disagree" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" type="date" readonly />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" readonly />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Heading" class="control-label"></label>
                <input asp-for="Heading" class="form-control" />
                <span asp-validation-for="Heading" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StarRating" class="control-label"></label>
                <input min="0" max="5" asp-for="StarRating" class="form-control" />
                <span asp-validation-for="StarRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feedback" class="control-label"></label>
                @*<input asp-for="Feedback" class="form-control" />*@
                <textarea asp-for="Feedback" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Feedback" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agree" class="control-label"></label>
                <input asp-for="Agree" class="form-control" readonly/>
                <span asp-validation-for="Agree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disagree" class="control-label"></label>
                <input asp-for="Disagree" class="form-control" readonly/>
                <span asp-validation-for="Disagree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyOrganisationName" class="control-label"></label>
                @*<input asp-for="CompanyOrganisationName" class="form-control" />*@
                <select asp-for="CompanyOrganisationName" class="form-control">
                    <option value="" selected disabled>Select an organization</option>
                    <option>@@IBM</option>
                    <option>@@AMAZON</option>
                    <option>@@GOOGLE</option>
                    <option>@@MICROSOFT</option>
                    <option>@@CSIRO</option>
                    <option>@@Department of Industry, Science, Energy and Resources</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="ComOr" asp-fragment="fbheading">Back to Company and Organization page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
