@{
    ViewData["Title"] = "Emerging Technologies";
}



<section style="padding-left:0px; padding-right:0px; background-color:lightsteelblue" >
    <article>

        <section id="bg4">
            <h1 id="indc">@ViewData["Title"]</h1>
            <p align="center" class="intro">
                "A range of emerging technologies are forecast to change and improve many fundamental tasks and interactions in the coming years, including how we work, travel, and communicate with each other. Technologies such as artificial intelligence, blockchain and quantum computing present significant opportunities for people, businesses and the broader economy.(Australian Government)"
            </p>
        </section>
        <section class="container-fluid">
            <section class="row">
                <div class="col-md-8 col-sm-6 col-12">
                    <div id="AI"></div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <h2 class="stitlee">Artificial Intelligence</h2>
                    <iframe width="250" height="300" src="https://www.youtube.com/embed/Kr1fmKVY3cA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <hr />
                <div class="col-md-8 col-sm-6 col-12">
                    <div id="IoT"></div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <h2 class="stitlee">Internet Of Things</h2>
                    <iframe width="250" height="300" src="https://www.youtube.com/embed/LlhmzVL5bm8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-md-8 col-sm-6 col-12">
                    <div id="Cognitive"></div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <h2 class="stitlee">Cognitive Computing</h2>
                    <iframe width="250" height="300" src="https://www.youtube.com/embed/9uYwifRCGpA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-md-8 col-sm-6 col-12">
                    <div id="Cloud"></div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <h2 class="stitlee">Cloud Computing</h2>
                    <iframe width="250" height="300" src="https://www.youtube.com/embed/mxT233EdY5c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-md-8 col-sm-6 col-12">
                    <div id="Robotics"></div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <h2 class="stitlee">Robotics</h2>
                    <iframe width="250" height="300" src="https://www.youtube.com/embed/htjRUL3neMg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-md-8 col-sm-6 col-12">
                    <div id="Blockchain"></div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <h2 class="stitlee">Blockchain</h2>
                    <iframe width="250" height="300" src="https://www.youtube.com/embed/8o9QxMxhTp8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

            </section>
            
        </section>
    </article>
</section>