@{
    ViewData["Title"] = "Industry 4.0";
}


<section style="padding-left:0px; padding-right:0px;" class="container-fluid">
    <article>
        <section id="bg1">
            <h1 id="ind">@ViewData["Title"]</h1>
            <p align="center" class="intro">
                Industry 4.0 is a name given to the current trend of automation and data exchange in
                manufacturing <br /> technologies. It includes cyber-physical systems, the Internet of things,
                cloud computing, and cognitive <br /> computing. Industry 4.0 is commonly referred to as the fourth
                industrial revolution.<br />-Wikipedia-
            </p>
        </section>
        <section class="container-fluid">
            <div class="row">
                <figure style="padding-left:0px; padding-right:0px;" class="col-md-4 col-sm-6 col-12">
                    <img src="~/images/homepage/ai.jpg" />
                    <figcaption>
                        <h3>Artificial Intelligence</h3>
                        <p>
                            Artificial intelligence (AI) is intelligenec demonstrated by machines,
                            as opposed to the natural intelligence displayed by humans or
                            animals. Leading AL textooks define the field as the study of
                            "intelligent agents": any system that perceives its environment and
                            takes actions that maximize its chance of achieving its goals<br />(Wikipedia).
                        </p>
                        <a class="btn btn-outline-light btn-sm" href="Home/EmerTechs/#AI"> Read more</a>

                    </figcaption>
                </figure>
                <figure style="padding-left:0px; padding-right:0px;" class="col-md-4 col-sm-6 col-12">
                    <img src="~/images/homepage/iot.jpg" />
                    <figcaption>
                        <h3>Internet of Things</h3>
                        <p>
                            The Internet of things (IoT) describes the network of physical objects, so known as,
                            "things" — that are embedded with sensors, software, and other technologies that is used
                            for the purpose of connecting and exchanging data with other devices and systems over the
                            Internet (Wikipedia).
                        </p>
                        <a class="btn btn-outline-light btn-sm" href="Home/EmerTechs/#IoT"> Read more</a>
                    </figcaption>
                </figure>
                <figure style="padding-left:0px; padding-right:0px;" class="col-md-4 col-sm-6 col-12">
                    <img src="~/images/homepage/cognitive.jpg" />
                    <figcaption>
                        <h3>Cognitive Computing</h3>
                        <p>
                            Cognitive computing (CC) refers to technology platforms that, broadly speaking, are based
                            on the scientific disciplines of artificial intelligence and signal processing. These platforms
                            encompass machine learning, reasoning, natural language processing, speech recognition and vision
                            (object recognition), human–computer interaction, dialog and narrative generation, among other
                            technologies (Wikipedia).
                        </p>
                        <a class="btn btn-outline-light btn-sm" href="Home/EmerTechs/#Cognitive"> Read more</a>
                    </figcaption>
                </figure>

            

                <figure style="padding-left:0px; padding-right:0px;" class="col-md-4 col-sm-6 col-12">
                    <img src="~/images/homepage/cloud.jpg" />
                    <figcaption>
                        <h3>Cloud Computing</h3>
                        <p>
                            Cloud computing is the on-demand availability of computer system resources, especially data storage
                            (cloud storage) and computing power, without direct active management by the user. Large clouds often
                            have functions distributed over multiple locations, each location being a data center (Wikipedia).
                        </p>
                        <a class="btn btn-outline-light btn-sm" href="Home/EmerTechs/#Cloud"> Read more</a>
                    </figcaption>
                </figure>
                <figure style="padding-left:0px; padding-right:0px;" class="col-md-4 col-sm-6 col-12">
                    <img src="~/images/homepage/robotics.jpg" />
                    <figcaption>
                        <h3>Robotics</h3>
                        <p>
                            Robotics is an interdisciplinary field that integrates computer science and engineering. Robotics
                            involves design, construction, operation, and use of robots. The goal of robotics is to design
                            machines that can help and assist humans (Wikipedia).
                        </p>
                        <a class="btn btn-outline-light btn-sm" href="Home/EmerTechs/#Robotics"> Read more</a>
                    </figcaption>
                </figure>

                <figure style="padding-left:0px; padding-right:0px;" class="col-md-4 col-sm-6 col-12">
                    <img src="~/images/homepage/blockchain.jpg" />
                    <figcaption>
                        <h3>Blockchains</h3>
                        <p>
                            A blockchain is a growing list of records, called blocks, that are linked together using cryptography.
                            Each block contains a cryptographic hash of the previous block, a timestamp, and transaction data
                            (generally represented as a Merkle tree) (Wikipedia).
                        </p>
                        <a class="btn btn-outline-light btn-sm" href="Home/EmerTechs/#Blockchain"> Read more</a>
                    </figcaption>
                </figure>
            </div>
        </section>
        <section id="bg2">
        </section>
    </article>
    <article>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
            <ul class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
            </ul>
            <!--The slider-->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/images/homepage/ibm.jpg" alt="IBM" class="img-fluid" style="width: 100%;" />
                    <div class="carousel-caption" role="option">
                        <p>
                            <h2  class="stitle">IBM</h2><br />
                            <a class="btn btn-info" href="https://www.ibm.com/us-en/">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/images/homepage/amazon.jpg" alt="Amazon" class="img-fluid" style="width: 100%;" />
                    <div class="carousel-caption" role="option">
                        <p >
                            <h2 class="stitle">Amazon</h2><br />
                            <a class="btn btn-info" href="https://aws.amazon.com/manufacturing/">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/images/homepage/google.jpg" alt="Google" class="img-fluid" style="width: 100%;" />
                    <div class="carousel-caption" role="option">
                        <p >
                            <h2 class="stitle">Google</h2><br />
                            <a class="btn btn-info" href="https://ai.google/">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/images/homepage/microsoft.jpg" alt="Microsoft" class="img-fluid" style="width: 100%;" />
                    <div class="carousel-caption" role="option">
                        <p >
                            <h2 class="stitle">Microsoft</h2><br />
                            <a class="btn btn-info" href="https://www.microsoft.com/en-us/ai?activetab=pivot1%3aprimaryr6">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/images/homepage/csiro.jpg" alt="CSIRO" class="img-fluid" style="width: 100%;" />
                    <div class="carousel-caption" role="option">
                        <p >
                            <h2 class="stitle">CSIRO</h2><br />
                            <a class="btn btn-info" href="https://www.csiro.au/">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/images/homepage/department.jpg" alt="Department" class="img-fluid" style="width: 100%;" />
                    <div class="carousel-caption" role="option">
                        <p >
                            <h2 class="stitle">Department of Industry, Science, Energy and Resources</h2><br />
                            <a class="btn btn-info" href="https://www.industry.gov.au/">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <!--left Right buttons-->
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


    </article>

</section>




